:root {
	--primaryColor: #c1a995;
	--primaryColorTransparent: #c1a995cc;
	--backgroundColor: #dddddd;
	--darkColor: #000000;
	--lightColor: #ffffff;
	--confirmColor: darkgreen;
	--confirmColorTransparent: #006400cc;
	--warnColor: darkgoldenrod;
	--destructiveColor: darkred;
	--transitionsDuration: 0.3s;
	--primaryFont: 'Funnel Sans'
}

/* BASE STYLES */

* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: 'Funnel Sans';
	font-display: swap;
	src: url('FunnelSans.ttf');
}

body {
	font-family: var(--primaryFont), sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;
	background-color: var(--backgroundColor);
}

input,
button,
svg,
nav,
.notification {
	font-family: var(--primaryFont), sans-serif;
	font-size: 1rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
}

nav {
    z-index: 1;
    margin-top: 0.5rem;
	background-color: var(--primaryColor);
}

a {
	color: var(--darkColor);
	text-decoration: none;
	transition: var(--transitionsDuration);
}

a:hover {
	text-decoration: underline;
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	border-radius: 1rem;
}

label {
	font-weight: bold;
}

input {
	width: auto;
	border: 2px solid var(--primaryColor);
}

button {
	color: var(--lightColor);
	background-color: var(--confirmColor);
	border: none;
	transition: var(--transitionsDuration);
}

svg {
	transition: var(--transitionsDuration);
}

button:hover,
#cancelUpdateStatusBtn:hover {
	transform: translateY(-2px);
	cursor: pointer;
}

button:active {
	transform: scale(0.9) translateY(-2px);
}

table {
    border-collapse: collapse;
	text-align: center;
}

thead {
    position: sticky;
    top: 0;
    background-color: var(--primaryColorTransparent);
    text-wrap: nowrap;
}

th {
    padding: 0.5rem;
}

.tableResponsive {
    max-height: 83vh;
	max-width: 99vw;
	overflow: auto;
	border: 2px solid var(--primaryColor);
	background-color: var(--lightColor);
    border-radius: 0.5rem;
    scroll-behavior: smooth;
}

#tableNav {
    display: flex;
    gap: 0.5rem;
    position: fixed;
    bottom: 1rem;
}

.tableNavBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--confirmColorTransparent);
}

#authenticatedUser {
    position: absolute;
    top: 1rem;
    right: 0.5rem;

	a {
		color: var(--destructiveColor);
	}
}

#logo {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

#searchBox {
	padding: 0;
	flex-direction: row;
}

#currentPage {
	background-color: var(--confirmColor);
	color: var(--lightColor);
	padding: 0 0.25rem;
	border-radius: 0.25rem;
}

.customForm {
	margin: 0.5rem;
	background-color: var(--lightColor);
	border: 2px solid var(--primaryColor);
}

.formWrapper {
	display: flex;
	z-index: 2;
	position: fixed;
	top: 0;
	align-items: start;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	overflow: auto;
	backdrop-filter: blur(2px);
	animation: showUp var(--transitionsDuration) ease;
}

.notification {
	z-index: 2;
	position: fixed;
	top: -5rem;
	color: var(--lightColor);
	animation: notification 5s ease;
}

.successNotification {
	background-color: var(--confirmColor);
}

.failureNotification {
	background-color: var(--destructiveColor);
}

/* LOGIN page*/

#bodyLogin {
	width: 100dvw;
	height: 100dvh;
}

#formLogin {
	background-color: var(--lightColor);
	width: 15rem;
}

/* 1:1 BUTTONS */

.aproveProposalBtn,
.denyProposalBtn,
.deleteProposalBtn,
.updateProposalBtn,
.backPendingBtn,
.tableNavBtn,
#searchBtn {
	font-size: 1.5rem;
	font-weight: normal;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin: auto;
}

/* COMERCIAL */

.denyProposalBtn,
.deleteProposalBtn,
#cancelRegisterProposalBtn {
	background-color: var(--destructiveColor);
}

.backPendingBtn {
	background-color: var(--warnColor);
}

#registerProposalForm {
	display: none;
}

/* FINANCES */

#updateStatusBtn {
	color: var(--lightColor);
}

#cancelUpdateStatusBtn {
	text-align: center;
	text-decoration: none;
	padding: 0.5rem;
	border-radius: 0.5rem;
	color: var(--lightColor);
	background-color: var(--destructiveColor);
}

/* REPORT */

/* PROPOSALS WARNING STATUS */

.received,
.accepted,
.refused,
.pending {
    color: var(--lightColor);
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-wrap: nowrap;
}

.received,
.accepted {
	background-color: var(--confirmColor);
}

.refused {
	background-color: var(--destructiveColor);
}

.pending {
	background-color: var(--warnColor);
}

/* ANIMATIONS */

@keyframes notification {
	10% {
		top: 0.5rem;
	}

	90% {
		top: 0.5rem;
	}

	100% {
		top: -5rem;
	}
}

@keyframes showUp {
	0% {
		scale: 0.9;
		opacity: 0;
	}

	100% {
		scale: 1;
		opacity: 1;
	}
}
